.container{
  width: 375px;
  margin: 0 auto;
}


header{
background-color: turquoise;
height: 90px;

}


nav{
float: left;
width: 20%;
}

.fa-chevron-left{
  color: white;
  padding-left: 16px;
  padding-top: 10px;
  font-size: 20px;
}


.map{
height: 375px;
width: 250px;

}

.buslist{
  height: 280px;
  overflow: scroll;
}


.formfield{
  width: 80%;
  border-radius: 5px;
  height:20px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  margin-left: 50px;
  padding-left: 10px;
}

.map{
  width: 375px;
  height: 250px;
background-image: url(../images2/group.png);
background-size: cover;
}


.header{
background-color: lightgrey;
border-top: 1px solid darkgrey;
border-bottom: 1px solid darkgrey;
height: 40px;
}

.row{
  height: 30px;
  clear: both;
  margin-left: 16px;
}
.busnumber{
  float: left;
  padding-top: 5px;
}

.destination{
  float: left;
  padding-top: 5px;
}

.minutes{
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
.direction{
  border-radius: 50%;
  border: 2px solid red;
  float: right;
  height: 10px;
  width: 10px;
  padding: 5px;
margin-right: 5px;
margin-bottom: 5px;
margin-top: 5px;
}

.delay{
  float: right;
  padding-top: 5px;
}

.border-bottom{
  border-bottom: 0.5px solid darkgrey;

}


h2 {
  font-size: 20px;
  padding-right: 10px;
}


p {font-size: 15px;
}




li
{
  list-style: none;
}

.icon{
float:right;

}

.min{
float:right;
padding-top: 10px;
padding-right: 5px

}

.fa-walking{
float:right;
padding-top: 10px;
padding-right: 5px;

}

.fa-redo-alt{
  float:right;
  padding-right: 20px;
  padding-top: 5px;
}

.fa-bell{
  float:right;
  margin:10px;
  color: red;
}
